.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  padding-left:  calc( 1280 / 4);
  padding-right: calc( 1280 / 4);
  opacity: .8;
  background-color: #004d99;
}
