.hobbies {
  width: 1500px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.hobbies__container {
  width: 700px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.hobbies__text-heading {
  font-size: 48px;
  font-weight: 600;
  color: green;
}

.hobbies__text-description {
  font-size: 30px;
  width: 350px;
}

.hobbies__image-container {
  border-radius: 60%;
  height: 600px;
  background-color: rgb(166, 214, 214);
}

.hobbies__image {
  height: 450px;
  background-color: transparent;
}
