.sections__container-grid {
  width: 700px;
  height: 450px;
  display: grid;
  grid-template-columns:240px 220px 220px;
  grid-template-rows: repeat(1, auto);
  margin: 0;
  padding: 0;
  gap: 20px;
  border-bottom: solid #095aad 2px;
}

.sections__container-grid-first {
  background-color: #c4d5e7;
}
