.sections__container-grid {
  max-width: 680px;
  max-height: 450px;
  display: grid;
  /* grid-column: 1 / 4;
  grid-row: 1 / 3; */
  grid-template-columns:240px 420px;
  grid-template-rows: auto;
  margin: 0;
  padding: 0;
  column-gap: 20px;
  border-bottom: solid #095aad 2px;
}

.sections__container-grid-first {
  background-color: #cce5ff;
}

.sections__container-grid-second {
  background-color: #e9f4ff;
}


@media screen and (max-width: 720px) {
  .sections__container-grid {
    margin: 0;
    max-width: 600px;
    max-height: 710px;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}



@media screen and (max-width: 719px) and (min-width: 320px) {
  .sections__container-grid {
    margin: 0;
    max-width: 550px;
    max-height: 750px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }
}

