.sections__image {
  max-height: 230px;
  background-color: transparent;
}

.sections__image-tiktok {
  max-width: 360px;
}

.sections__image-book {
  max-width: 250px;
}

.sections__image-goat {
  max-width: 60%;
}

.sections__imageID {
  max-height: 230px;
  background-color: transparent;
  margin: 6px;
}




@media screen and (max-width: 320px) {
  .sections__imageID {
    margin-left: 35px;
  }
}

@media screen and (max-width: 320px) {
  .sections__image-goat {
    margin-left: 52px;
  }
}

@media screen and (max-width:575px) and (min-width: 320px) {
  .sections__image-tiktok {
    margin-top: 20px;
    max-width: 290px;
  }
}
