.sections__container {
  width: 700px;
  height: 450px;
  display: grid;

  gap: 40px;
  border-bottom: solid #095aad 2px;
  align-items: center;
}

@media screen and (max-width: 720px){
  .sections__container {
    width: 650px;
    gap: 20px;
  }
}

@media screen and (max-width: 320px){
  .sections__container {
    width: 300px;
    gap: 20px;
  }
}

