.sections__container {
  width: 700px;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  border-bottom: solid #095aad 2px;
  align-items: center;
}

@media screen and (max-width: 720px){
  .sections__container {
    width: 650px;
    gap: 20px;
  }
}

.sections__container-grid {
  width: 700px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 233px);
  grid-template-rows: repeat(1, auto);
  gap: 40px;
  border-bottom: solid #095aad 2px;
  align-items: center;
}
