.sections__text {
  font-family: 'Inter', sans-serif ;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
  margin-bottom: 20px;
}

/* @media screen and (max-width: 320px) {
  .sections__text{
    font-size: 18px;
    line-height: 1;

  }
} */
