.sections__text-heading {
  font-size: 48px;
  font-weight: 600;
  color: #095aad;
  margin: auto;
  text-align: center;
}

@media screen and (max-width:575px) and (min-width: 320px) {
  .sections__text-heading{
    font-size: 28px;
  }
}
